[Wallpaper]
File=wp_damselfly.jpg
Name=Damselfly
Name[cs]=Vážka
Name[da]=Damselfly
Name[de]=Kleinlibelle
Name[en_GB]=Damselfly
Name[es]=Caballito del diablo
Name[et]=Kiilike
Name[fi]=Neidonkorento
Name[nb]=Damselfly
Name[nds]=Goldpeerd
Name[nl]=Damselfly
Name[pt]=Damselfly
Name[pt_BR]=Donzelinha
Name[ru]=Стрекоза
Name[sr]=Водена девица
Name[sr@ijekavian]=Водена дјевица
Name[sr@ijekavianlatin]=Vodena djevica
Name[sr@latin]=Vodena devica
Name[sv]=Jungfruslända
Name[uk]=Рівнокрила бабка
Name[x-test]=xxDamselflyxx
Name[zh_TW]=Damselfly
ImageType=pixmap
Author=Risto Saukonpää
